body{
    background-image: url(image.avif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

#card-home{
    background: linear-gradient(#795733 ,#E6D2B9);
    position: absolute;
    top: 10%;
    left: 35%;
    z-index: 1;
    width: 35%;
    min-height: 85vh;
}
